* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $cor-fundo;
    font-family: $font;
}

// botao
@mixin StyleBotao {
    cursor: pointer;
    margin-top: 5%;
    border: none;
    transition: 0.4s;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    color: $neutro;
    &:hover {
        transition: 0.5s;
        width: 130px;
        font-size: 18px;
    }
}