@import "./variaveis"; // arquivo de variaveis
@import "./header"; // arquivo do menu
@import"./conteudo"; // arquivo com o conteudo
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $cor-fundo;
    font-family: $font;
    @include tablet {
        overflow-x: hidden;
    }
}